.search-card-content {
    display: flex;
    p {
      margin: 10px 25px;
      width: 100%;
    }
  }
  
  .search-card-container {
  
    .search-card-content {
      margin-top: 16px;
      @include mq(medium) {
        margin-top: 0;
      }
    }
  
    .search-card-thumbnail {
      @include mq(medium) {
        margin-right: 16px;
      }
    }
  }